dist/
dist-*
cabal-dev/
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hie-bios
.hie
.ghc.environment.*
.stack-work/
cabal.project.local
cabal.project.local*
cabal.project.freeze
.cabal-sandbox/
cabal.sandbox.config
generated-*
.HTF/
.ghci
.DS_Store
.vscode/
.idea/
*.swp
*~

# Config files
config.yaml
